
- name: Create loadbalancer security group
  azure.azcollection.azure_rm_securitygroup:
    resource_group: "{{ resource_group }}"
    name: "loadbalancer-sg"
    purge_rules: yes
    rules:
      - name: SSH
        protocol: Tcp
        destination_port_range: 22
        access: Allow
        priority: 1001
        direction: Inbound
        source_address_prefix: '0.0.0.0/0'
      - name: HTTP
        protocol: Tcp
        destination_port_range: 80
        access: Allow
        priority: 1002
        direction: Inbound
        source_address_prefix: '0.0.0.0/0'
      - name: HTTPS
        protocol: Tcp
        destination_port_range: 443
        access: Allow
        priority: 1003
        direction: Inbound
        source_address_prefix: '0.0.0.0/0'
    tags: "{{ vmtags }}"
    state: "{{ state | default('present') }}"
  delegate_to: 127.0.0.1

- name: Create appserver security group
  azure.azcollection.azure_rm_securitygroup:
    resource_group: "{{ resource_group }}"
    name: "appserver-sg"
    purge_rules: yes
    rules:
      - name: SSH
        protocol: Tcp
        destination_port_range: 22
        access: Allow
        priority: 1001
        direction: Inbound
        source_address_prefix: '0.0.0.0/0'
      - name: HTTP-from-loadbalancer
        protocol: Tcp
        destination_port_range: 8000
        access: Allow
        priority: 1002
        direction: Inbound
        source_address_prefix: "{{ hostvars[groups['loadbalancer'][0]]['ansible_host'] }}/32"
    tags: "{{ vmtags }}"
    state: "{{ state | default('present') }}"
  delegate_to: 127.0.0.1

- name: Create database security group
  azure.azcollection.azure_rm_securitygroup:
    resource_group: "{{ resource_group }}"
    name: "database-sg"
    purge_rules: yes
    rules:
      - name: SSH
        protocol: Tcp
        destination_port_range: 22
        access: Allow
        priority: 1001
        direction: Inbound
        source_address_prefix: '0.0.0.0/0'
      - name: MYSQL-appserver1
        protocol: Tcp
        destination_port_range: 3306
        access: Allow
        priority: 1002
        direction: Inbound
        source_address_prefix: "{{ hostvars[groups['appserver'][0]]['ansible_host'] }}/32"
      - name: MYSQL-appserver2
        protocol: Tcp
        destination_port_range: 3306
        access: Allow
        priority: 1003
        direction: Inbound
        source_address_prefix: "{{ hostvars[groups['appserver'][1]]['ansible_host'] }}/32"
    tags: "{{ vmtags }}"
    state: "{{ state | default('present') }}"
  delegate_to: 127.0.0.1