[Unit]
Description=Gunicorn instance to serve microblog
After=network.target

[Service]
User=deploy
Group=www-data
WorkingDirectory=/var/www/microblog

# Här hämtar vi IP-adressen till databasen automatiskt från din hosts-fil!
Environment="SQLALCHEMY_DATABASE_URI=mysql+pymysql://microblog:hemligt_losenord@{{ hostvars['database']['ansible_host'] }}/microblog"

# Startkommando
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 microblog:app

[Install]
WantedBy=multi-user.target
