name: Deploy microblog

on:
  workflow_call:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache pip
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: 'pip'
        cache-dependency-path: |
          requirements/deploy.txt
          ansible/requirements.yml

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/deploy.txt
        ansible-galaxy collection install azure.azcollection --force
        pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt
        cd ansible && ansible-galaxy install -r requirements.yml


    - name: Setup SSH 
      shell: bash
      run: |
        mkdir -p /home/runner/.ssh/
        echo -e "${{secrets.SSH_PRIVATE_KEY}}" > /home/runner/.ssh/id_ed25519
        chmod 600 /home/runner/.ssh/id_ed25519
        eval $(ssh-agent -s)
        ssh-add /home/runner/.ssh/id_ed25519


        
    - name: Run playbook
      run: cd ansible/ && ansible-playbook  -i hosts deploy_app.yml --private-key=/home/runner/.ssh/id_ed25519
      env:
        ANSIBLE_HOST_KEY_CHECKING: "False"