name: Deploy to Production

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ansible azure-mgmt-resource azure-mgmt-compute azure-mgmt-network azure-mgmt-containerservice azure-identity azure-keyvault azure-storage-blob azure-mgmt-dns azure-mgmt-marketplaceordering azure-mgmt-monitor

    - name: Setup SSH
      shell: bash
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      run: |
        eval `ssh-agent -s`
        mkdir -p /home/runner/.ssh/
        touch /home/runner/.ssh/id_rsa
        echo "$SSH_PRIVATE_KEY" > /home/runner/.ssh/id_rsa
        chmod 600 /home/runner/.ssh/id_rsa

    - name: Run playbook
      env:
        ANSIBLE_HOST_KEY_CHECKING: "False"
      run: |
        cd ansible
        ansible-playbook -i hosts -u deploy deploy_app.yml --private-key=/home/runner/.ssh/id_rsa